:root {
    width: 100vw;
    height: 100vh;
    background-color: #a31515;
}

.AbsoluteBanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lila_claro);
    padding: 0,5em;
    background-color: var(--gris_claro);
    z-index: 9999;
    height: 2em;
    text-align: middle; /* Para que quede arriba de todo */
    /*border: 1px solid lime*/
}

.scrolling-text {
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    text-align: center;
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.BannerPpal {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/provincia-mendoza.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.NombreBodega {
    position: relative;
    top: 8vw;
    left: 0;
    width: 100%;
    font-family: 'Quicksand', sans-serif;   
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    color: var(--lila_oscuro);
}

.slogan {
    position: relative;
    top: 9vw;
    left: 0;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    color: var(--lila_oscuro);
    border: none;
}

.menu {
    position: relative;
    top: -27vw;
    left: 0;
    background-color: #f8f8f8; /* o var(--gris_claro) */
    padding: 1.5vw;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2vw auto;
    width: fit-content;
    max-width: 90%;
}

.menu ul {
    display: flex;
    gap: 1.5vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    background-color: #7a0e0e; /* vino tinto */
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.menu li:hover {
    background-color: #a31515;
    transform: scale(1.05);
}

.menu a {
    display: block;
    padding: 0.8em 1.2em;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
